version: '3'
services:
  tb:
    image: "tsouhaieb/thingsboard_healthcheck_log_cd"
    #image: "m2mgroupe/thingsboard-healthcheck"
    networks:
      - appnet
    ports:
      - "5683:5683/udp"
    deploy:
      mode: global
      placement:
        constraints:
          - node.labels.type != db
    env_file:
      - tb.env
    environment:
      - ADD_SCHEMA_AND_SYSTEM_DATA=true
      - ADD_DEMO_DATA=true
    entrypoint: /run-application.sh

networks:
  appnet:
    external: true
