# {{ ansible_managed }}
worker_processes  1;

events {
    worker_connections  1024;
}

http {
    stream_server_traffic_status_zone;

    sendfile        on;

    keepalive_timeout  65;

    server {
        listen       80;
        server_name  {{ website_domain }} {{ monitor_domain }} {{ log_domain }};


        location ~ /.well-known/acme-challenge {
         allow all;
         root /etc/nginx/html;
        }

        root   /etc/nginx/html;
        index  index.html index.htm;

        location /status {
            stream_server_traffic_status_display;
            stream_server_traffic_status_display_format html;
        }
    }
}

stream {
    server_traffic_status_zone;



    server {
      listen 1883;
      proxy_pass 127.0.0.1:18831;
    }

}
